<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="vue.js"></script>
    <link href="css/styles.css" rel="stylesheet" />
</head>
<body>
<header>
    <h1>Vue.js application</h1>
    <nav>
        <a href="tabs.html">Tabs</a>
        <a href="task_list.html">Task list</a>
        <a href="coupon/index.html">Coupon</a>
    </nav>
</header>

<div id="root">
    <div class="left">
        <h1 v-bind:class="className" v-text="message" ></h1>
        <input type="text" id="input" v-model="message" >
        <hr />
        <p>{{ message }}</p>
        <hr />
        <input type="text" id="input2" v-model="description" >
        <hr />
        <p>{{ description }}</p>
        <hr />
        <ul>
            <li v-for="name in names" v-text="name" ></li>
        </ul>
    </div>
    <div class="right">
        <div style="border:1px dashed red;background: pink;" >
            <input type="text"v-model="newName" >
            <br />
            <button v-bind:title="title" v-on:click="addName" > Add name</button>
        </div>
        <hr />
        <div>
            <button v-bind:disabled="isDisabled" v-on:click="clickMe" v-bind:class="{ 'is-loading' : isLoading, 'disabled' : isDisabled }">Click me</button>
            <button v-on:click="unDisable">Undisable</button>
            <button v-on:click="reverse">Reverse</button>
        </div>
        <hr />
        <h2>All tasks</h2>
        <ul>
            <li v-for="task in tasks"  >
                <span v-bind:class="{ 'completed' : task.completed, 'in-completed' : !task.completed  }" v-text="task.description" ></span> <button v-on:click="toggleCompleted(task)" >toggle complete</button>
            </li>
        </ul>
        <h2>Incomplete tasks</h2>
        <ul>
            <li v-for="task in incompleteTasks"  v-text="task.description" > </li>
        </ul>
        <h2>Incomplete tasks</h2>
        <ul>
            <li v-for="task in completeTasks"  v-text="task.description" ></li>
        </ul>
    </div>
</div>

<script>

    var data = {
       message : 'Hello World',
       newName : '',
       description: 'Original message...',
       title: 'Is set through javascript',
       className: 'color-red',
       names : [ 'Joe', 'Mary', 'Jane', 'Jack' ],
       isLoading : false,
       isDisabled : false,
       tasks : [
           { description: 'Gå till affären', completed: true },
           { description: 'Koda klart', completed: false },
           { description: 'Göra middag', completed: false },
       ]
    };

     var app = new Vue({
        el: '#root',
        data: data,
        methods: {
            addName: function () {
                this.names.push(this.newName);
                this.newName = '';
            },
            clickMe: function() {
                this.isLoading = !this.isLoading;
                this.isDisabled = true;
            },
            unDisable : function () {
                this.isDisabled = false;
            },
            reverse: function () {
                this.message = this.reversedMessage;
            },
            toggleCompleted: function (task) {
                task.completed = !task.completed;
            }
        },
         computed : {
             reversedMessage : function() {
                 return this.message.split('').reverse().join('');
             },
             incompleteTasks : function () {
                 return this.tasks.filter(function(t) {
                     return !t.completed;
                 })
             },
             completeTasks: function () {
                 return this.tasks.filter(function(t) {
                     return t.completed;
                 })
             }
         }
    });

</script>

</body>
</html>
